@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?61811781');
  src: url('../font/fontello.eot?61811781#iefix') format('embedded-opentype'),
       url('../font/fontello.woff?61811781') format('woff'),
       url('../font/fontello.ttf?61811781') format('truetype'),
       url('../font/fontello.svg?61811781#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?61811781#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-video:before { content: '\e826'; } /* '' */
.icon-lightbulb:before { content: '\e820'; } /* '' */
.icon-plus-circled:before { content: '\e82d'; } /* '' */
.icon-plus-squared:before { content: '\e82e'; } /* '' */
.icon-minus-squared:before { content: '\e82f'; } /* '' */
.icon-download:before { content: '\e81e'; } /* '' */
.icon-upload:before { content: '\e841'; } /* '' */
.icon-attention:before { content: '\e825'; } /* '' */
.icon-move:before { content: '\e82a'; } /* '' */
.icon-angle-circled-left:before { content: '\e832'; } /* '' */
.icon-angle-circled-right:before { content: '\e833'; } /* '' */
.icon-left-circled:before { content: '\e834'; } /* '' */
.icon-right-circled:before { content: '\e835'; } /* '' */
.icon-expand-right:before { content: '\e830'; } /* '' */
.icon-collapse-left:before { content: '\e831'; } /* '' */
.icon-floppy-1:before { content: '\e840'; } /* '' */
.icon-cancel-squared:before { content: '\e836'; } /* '' */
.icon-plus-squared-1:before { content: '\e837'; } /* '' */
.icon-minus-squared-1:before { content: '\e838'; } /* '' */
.icon-alert:before { content: '\e824'; } /* '' */
.icon-trash:before { content: '\e839'; } /* '' */
.icon-lamp:before { content: '\e821'; } /* '' */
.icon-play:before { content: '\e83a'; } /* '' */
.icon-stop:before { content: '\e83b'; } /* '' */
.icon-pause:before { content: '\e83c'; } /* '' */
.icon-to-end:before { content: '\e83d'; } /* '' */
.icon-to-start:before { content: '\e83e'; } /* '' */
.icon-back-in-time:before { content: '\e81c'; } /* '' */
.icon-droplet:before { content: '\e81d'; } /* '' */
.icon-floppy:before { content: '\e83f'; } /* '' */
.icon-bucket:before { content: '\e828'; } /* '' */
.icon-flow-line:before { content: '\e82b'; } /* '' */
.icon-videocam:before { content: '\e827'; } /* '' */
.icon-cancel-circled:before { content: '\e82c'; } /* '' */
.icon-pencil:before { content: '\e817'; } /* '' */
.icon-pen:before { content: '\e816'; } /* '' */
.icon-edit:before { content: '\e818'; } /* '' */
.icon-news:before { content: '\e81a'; } /* '' */
.icon-zoom-in:before { content: '\e80f'; } /* '' */
.icon-zoom-out:before { content: '\e810'; } /* '' */
.icon-loop-alt:before { content: '\e815'; } /* '' */
.icon-cloud:before { content: '\e822'; } /* '' */
.icon-cloud-flash:before { content: '\e823'; } /* '' */
.icon-brush-1:before { content: '\e812'; } /* '' */
.icon-pipette:before { content: '\e811'; } /* '' */
.icon-scissors-outline:before { content: '\e813'; } /* '' */
.icon-scissors:before { content: '\e814'; } /* '' */
.icon-info:before { content: '\e808'; } /* '' */
.icon-tag:before { content: '\e809'; } /* '' */
.icon-pencil-neg:before { content: '\e802'; } /* '' */
.icon-undo:before { content: '\e800'; } /* '' */
.icon-doc-inv:before { content: '\e803'; } /* '' */
.icon-box:before { content: '\e80a'; } /* '' */
.icon-cog:before { content: '\e80b'; } /* '' */
.icon-wrench:before { content: '\e804'; } /* '' */
.icon-clock:before { content: '\e80c'; } /* '' */
.icon-arrow-curved:before { content: '\e80d'; } /* '' */
.icon-book:before { content: '\e806'; } /* '' */
.icon-brush:before { content: '\e801'; } /* '' */
.icon-eyedropper:before { content: '\e805'; } /* '' */
.icon-layers:before { content: '\e807'; } /* '' */
.icon-key-inv:before { content: '\e80e'; } /* '' */
.icon-grid:before { content: '\e81b'; } /* '' */
.icon-github-circled:before { content: '\e829'; } /* '' */
.icon-download-1:before { content: '\e81f'; } /* '' */
.icon-picture:before { content: '\e819'; } /* '' */